@media screen and (min-width:1000px) {

.horiz-line-mobile {
	display: none;
}
/*
  ========================================
  Header
  ========================================
*/

header {
	background-color: $white;
	padding: 0;
	h1 {
		// text-align: left;
		// width: 20%;
		// margin-left: 10px;
	}
	nav {
		position: static;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: $dkgrey;
		li {
			position: static;
		}
		a {
			color: $white;
		}
	}	

	.search-box {
		border: 1px solid $orange;
		border-radius: 25px;
		padding: 5px 10px;
		margin: 10px auto;
		background-color: $white;
		width: 30%;
	}

	.dropdown {
		left: 3em;
		color: $black;
		a {
			color: $black;
		}
	}

	ul {
		display: inline-block;
		width: 40%;
		text-align: center;
		li {
			display: inline;
			margin: 0 25px;
			color: $white;
		}
	}
}

/*
  ========================================
  Stories
  ========================================
*/
.cover-tab {
	display: none;
}

.cover-desk {
	visibility: visible;
	position: relative;
}

.cover {
	width: 23%;
	.blurb {
		h3 {
			@include font(1);
		}
	}
}	

.quote {
	width: 48%;
	img {
		width: 100px;
		margin: 4em 0 0 2em;
	}
	p {
		@include font(1.4);
		width: 70%;
		margin: 5em auto 1em auto;
	}
	.credits {
		margin: 0 2em 1em 0;
	}	
}

.authors {
	width: 48%;
	padding: 1.5em .5em .5em 2em;
	h2 {
		text-align: left;
		margin: 0 0 1em .5em;
	}
	img {
		width: 100px;
		margin: 1em 0 0 1em;

	}
	.author-pic {
		float: left;
		text-align: center;
		margin-bottom: .5em;
	}
	.interview {
		@include font(1);
		width: 65%;
		display: inline;
		float: left;
		margin-left: 1em;
	}
}



}