@media screen and (min-width:1000px) {

.horiz-line-mobile {
	display: none;
}
/*
  ========================================
  Header
  ========================================
*/

header {
	background-color: $white;
	padding: 0;
	h1 {
		text-align: left;
		width: 20%;
		margin-left: 10px;
	}
	nav {
		position: static;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: $dkgrey;
		li {
			position: static;
		}
		a {
			color: $white;
		}
	}	

	.search-box {
		border: 1px solid $black;
		border-radius: 25px;
		padding: 5px 10px;
		margin: 10px auto;
		background-color: $white;
		width: 30%;
	}

	.dropdown {
		left: 3em;
		color: $black;
		a {
			color: $black;
		}
	}

	ul {
		display: inline-block;
		width: 40%;
		text-align: center;
		li {
			display: inline;
			margin: 0 20px;
			color: $white;
		}
	}
}



}