@media screen and (min-width:600px) {


/*
  ========================================
  Stories
  ========================================
*/

.cover-art {
	flex-direction: row;
	flex-wrap: wrap;
}

.cover {
	width: 48%;
	.blurb {
		.story-title {
			@include font(1.5);
		}
		.more {
			width: 20px;
			float: right;
		}
	}
}

.image-with-title {
	.cover-img {
	}
	h5 {
		@include font(2.4);
		max-width: 200px;
	}
}

.quote {
	width: 100%;
}	

.authors {
	width: 100%;
	h2 {
		@include font(3);
	}
}


}