@media screen and (min-width:800px) {
	


/*
  ========================================
  Header
  ========================================
*/
header {
	background-color: $white;
	padding: .5em .5em 0 .5em;
}

.mobile-nav {
	display: none;
}

.desktop-nav {
	display: block;
	h1 {
		text-align: center;
	}
	button {
		background-color: $orange;
		border: none;
		border-radius: 5px;
		padding: 5px 5px;
		text-align: right;
		color: $white;
		position: absolute;
		top: .5em;
		right: .5em;
		&:hover {
			cursor: pointer;
		}
		p {
			position: absolute;
			top: .5em;
			right: .5em;
			a {
			color: $white;
			}
		}
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: $black;
		padding: .5em 0;
		a {
			color: $white;
		}
	}
}

/*
  ========================================
  Stories
  ========================================
*/

.cover {
	width: 100%;
	.blurb {
		h3 {
			@include font(1);
		}
	}
}	

.quote {
	width: 100%;
	// height: 347.4px;
	p {
		@include font(1.2);
	}
}

.authors {
	width: 100%;
	// height: 347.4px;
	img {
		width: 100px;
	}
	p {
		@include font(1);
	}
}








}