@media screen and (min-width:800px) {
	
	
/*
  ========================================
  Header
  ========================================
*/
.nodesk {
	display: none;
}

.hamburger-head {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
}

header {
	nav {
		.dropdown {
			display: block !important;
		}
	}
}






}