@import 'reset';
@import 'colors';


@mixin font($em){
	font-size: ($em*16) + px;
	font-size: ($em) + em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: "freight-sans-pro",sans-serif;
	background-color: $grey;
}

img {
	max-width: 100%;
}

/*
  ========================================
  Type
  ========================================
*/

h1 {
	@include font(2);
	line-height: 1.5em;
	font-family: "ff-ernestine-web-pro",serif;
}

h3 {
	font-style: italic;
	line-height: 2.5em;
	font-family: "ff-ernestine-web-pro",serif;
}

h4 {
	@include font(.875);
	color: $dkgrey;
	line-height: 1.8em;
}

h5 {
	line-height: 1em;
}

h6 {
	color: $dkgrey;
}

p, li {
	@include font(1);
	line-height: 1.3em;
}

span {
	color: $dkgrey;
	@include font(.875);
}

/*
  ========================================
  Header
  ========================================
*/

.hamburger-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	ul {
		display: flex;
		flex-direction: column;
	}
}

header {
	background-color: $white;
	padding: .5em;
	nav {
	position: static;
		.dropdown {
			display: none;
		}
	}
	.search-box {
		border: 1px solid $black;
		border-radius: 25px;
		padding: 5px 10px;
		margin: 10px auto;
	}
	ul {
		display: inline-block;
		width: 100%;
		li {
			display: inline;
			margin-right: 20px;
		}
	}
}

/*
  ========================================
  Intro
  ========================================
*/

.intro {
	padding: 2.5em;
	text-align: center;
	background-color: $dkblue;
	button {
		border-radius: 25px;
		background-color: $white;
		border: 1px solid $black;
		padding: 5px 15px;
		color: $black;
		margin: 2em 10px 0 10px;
	}	
}

/*
  ========================================
  Stories
  ========================================
*/

.stories {
	width: 90%;
	margin: 1.5em auto;
	background-color: $grey;
	ul {
		display: flex;
		li {
			margin-right: 20px;
		}
	}
	.search-box-2 {
		border-radius: 25px;
		border: 1px solid $black;
		padding: 5px 10px;
		margin: 10px auto;
	}
	.cover-art {
		display: flex;
		flex-direction: column;
		.cover {
			margin: 10px 0;
			.blurb {
				width: 100%;
				padding: 0 10px;
				// height: 150px;
				background-color: white;
				border-bottom: 1px solid $black;
				border-right: 1px solid $black;
				border-left: 1px solid $black;
				text-align: center;
				margin-top: -5px;
				.icon {
					width: 50px;
					position: relative;
					margin-top: -20px;
				}
				.sub-info {
					display: flex;
	  				align-items: center;
	  				justify-content: space-between;
	  				margin-top: 1em;
				}
			}
		}	
	}
}

@import 'tablet';

