@import 'reset';
@import 'colors';


@mixin font($em){
	font-size: ($em*16) + px;
	font-size: ($em) + em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	font-family: "freight-sans-pro",sans-serif;
	background-color: $grey;
	color: $black;
}

img {
	max-width: 100%;
}

.horiz-line-mobile {
	width: 100%;
	margin: 0 auto 1em auto;
	border: 1px solid $blue6;
}

.clear-fix {
	clear: both;
}

/*
  ========================================
  Type
  ========================================
*/

h1 {
	@include font(2);
	line-height: 1.5em;
	font-family: "jubilat",sans-serif;
}

h3 {
	font-style: italic;
	line-height: 1em;
	font-family: "jubilat",sans-serif;
}

h4 {
	@include font(.875);
	color: $black;
	line-height: 0;
}

h5 {
	line-height: 2.5em;
}

h6 {
	color: $black;
	line-height: .5em;
}

p, li {
	@include font(1);
	line-height: 1.5em;
	max-width: 550px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: $black;
	&:hover {
		color: $orange;
	}
}

/*
  ========================================
  Header
  ========================================
*/

header {
	background-color: $white;
	padding: .5em;
	h1 {
		text-align: center;
	}
	nav {
		position: static;
		li {
			position: relative;
		}
		.dropdown {
			display: none;
			padding: 10px;
			background-color: $white;
			border: 2px solid $orange;
			position: absolute;
			z-index: 1000;
			width: 140px;
			text-align: left;
			.col-1, .col-2, .col-3 {
				width: 10px;
			}
		}
		li:hover {
			cursor: pointer;
		}
	}

.arrow {
	width: 15px;
}	

	.search-box {
		border: 1px solid $black;
		border-radius: 25px;
		padding: 5px 10px;
		margin: 10px auto;
		background-color: $white;
		width: 100%;
	}

	ul {
		display: inline-block;
		width: 100%;
		text-align: center;
		li {
			display: inline;
			margin: 0 20px;
		}
	}
}

/*
  ========================================
  Intro
  ========================================
*/

.intro {
	padding: 2.5em;
	text-align: center;
	background-color: $blue5;
	margin: 0 auto;
	color: $grey;
	button {
		border-radius: 25px;
		background-color: $white;
		border: 1px solid $black;
		padding: 5px 15px;
		color: $black;
		margin: 2em 10px 0 10px;
	}	
}

.ad {
	display: none;
}

/*
  ========================================
  Stories
  ========================================
*/

.stories {
	width: 90%;
	margin: 1.5em auto;
	background-color: $grey;
	ul {
		margin-left: 12px;
		display: flex;
		li {
			margin-right: 20px;
			&:hover {
				color: $orange;
			}
		}
	}
	.search-box-2 {
		border-radius: 25px;
		border: 1px solid $black;
		padding: 5px 10px;
		margin: 10px auto;
		width: 100%;
	}
}

.cover-art {
	display: flex;
	flex-direction: column;
}

.cover {
	margin: 10px auto;
	max-width: 300px;
	flex-wrap: wrap;
	.cover-img {
		box-shadow: 0 3px 3px #888888;
	}
	.blurb {
		width: 100%;
		padding: 0 10px;
		height: 150px;
		background-color: white;
		box-shadow: 0 3px 3px #aeaeae;
		// border-bottom: 1px solid $black;
		// border-right: 1px solid $black;
		// border-left: 1px solid $black;
		text-align: center;
		margin-top: -5px;
		.icon {
			width: 50px;
			position: relative;
			margin-top: -20px;
		}
		.sub-info {
			display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 1em;
				img {
					width: 18px;
				}
		}
	}
}	



@import '600';
@import 'tablet';
@import '1200';

