/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "freight-sans-pro",sans-serif;
  background-color: #f4f2f2; }

img {
  max-width: 100%; }

/*
  ========================================
  Type
  ========================================
*/
h1 {
  font-size: 32px;
  font-size: 2em;
  line-height: 1.5em;
  font-family: "ff-ernestine-web-pro",serif; }

h3 {
  font-style: italic;
  line-height: 2.5em;
  font-family: "ff-ernestine-web-pro",serif; }

h4 {
  font-size: 14px;
  font-size: 0.875em;
  color: #a9a9aa;
  line-height: 1.8em; }

h5 {
  line-height: 1em; }

h6 {
  color: #a9a9aa; }

p, li {
  font-size: 16px;
  font-size: 1em;
  line-height: 1.3em; }

span {
  color: #a9a9aa;
  font-size: 14px;
  font-size: 0.875em; }

/*
  ========================================
  Header
  ========================================
*/
.hamburger-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .hamburger-head ul {
    display: flex;
    flex-direction: column; }

header {
  background-color: #f9f9f9;
  padding: .5em; }
  header nav {
    position: static; }
    header nav .dropdown {
      display: none; }
  header .search-box {
    border: 1px solid #2e3542;
    border-radius: 25px;
    padding: 5px 10px;
    margin: 10px auto; }
  header ul {
    display: inline-block;
    width: 100%; }
    header ul li {
      display: inline;
      margin-right: 20px; }

/*
  ========================================
  Intro
  ========================================
*/
.intro {
  padding: 2.5em;
  text-align: center;
  background-color: #028ea5; }
  .intro button {
    border-radius: 25px;
    background-color: #f9f9f9;
    border: 1px solid #2e3542;
    padding: 5px 15px;
    color: #2e3542;
    margin: 2em 10px 0 10px; }

/*
  ========================================
  Stories
  ========================================
*/
.stories {
  width: 90%;
  margin: 1.5em auto;
  background-color: #f4f2f2; }
  .stories ul {
    display: flex; }
    .stories ul li {
      margin-right: 20px; }
  .stories .search-box-2 {
    border-radius: 25px;
    border: 1px solid #2e3542;
    padding: 5px 10px;
    margin: 10px auto; }
  .stories .cover-art {
    display: flex;
    flex-direction: column; }
    .stories .cover-art .cover {
      margin: 10px 0; }
      .stories .cover-art .cover .blurb {
        width: 100%;
        padding: 0 10px;
        background-color: white;
        border-bottom: 1px solid #2e3542;
        border-right: 1px solid #2e3542;
        border-left: 1px solid #2e3542;
        text-align: center;
        margin-top: -5px; }
        .stories .cover-art .cover .blurb .icon {
          width: 50px;
          position: relative;
          margin-top: -20px; }
        .stories .cover-art .cover .blurb .sub-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 1em; }

@media screen and (min-width: 800px) {
  /*
    ========================================
    Header
    ========================================
  */
  .nodesk {
    display: none; }

  .hamburger-head {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hamburger-head ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }

  header nav .dropdown {
    display: block !important; } }

/*# sourceMappingURL=style.css.map */
